<settings>
	<mirrors>
		<mirror>
			<id>maven-public</id>
			<url>${env.MAVEN_MIRROR_URL}</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>mynexus</id>
			<username>${env.MAVEN_SERVER_USERNAME}</username>
			<password>${env.MAVEN_SERVER_PASSWORD}</password>
		</server>
	</servers>
</settings>
